[Desktop Entry]
Categories=Settings;Network;
Name=Network Manager dmenu
GenericName=Network Manager Settings
Exec=/home/mpavezb/.local/bin/networkmanager_dmenu
Type=Application

